.weather_week {
}


.weather_daily {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem;

  @media screen and (min-width: 900px) {
  }
}

.weather_date {
  font-size: 1.6rem;

  @media screen and (min-width: 900px) {
    font-size: 1.8rem;
  }
}

.weather_icon {
  margin: 0 auto;
  vertical-align: middle;

  i {
    font-size: 2.4rem;
    text-align: center;
  
    &:before {
      color: #B5B4B5;
    }
  }
}

.weather_temps {
  width: 45%;
  font-size: 1.5rem;
  text-align: right;

  span {
    font-size: .7em;
  }

  @media screen and (min-width: 900px) {
    font-size: 1.6rem;
  }
}
