$color-date: #F15946;
$color-date-range: #ed8a7e;

#endDate, #startDate {
  margin: 5px;
  text-align: center;
}

.DateRangePickerInput__withBorder {
  border: none;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  background-color: $color-date;
  border: 1px double $color-date;
}

.CalendarDay__selected_span {
  background: $color-date-range;
  border: 1px double $color-date;
}

.DateInput_input__focused {
  border-bottom: 2px solid $color-date;
}

.DateInput_input {
  color: black;
}

.DateRangePickerInput_arrow_svg {
  fill: black;
}
