$color-destination: #53CBA7;



.form_destination {
  [type="text"] {
    &:focus {
      box-shadow: 0 0 4px 0 rgba($color-destination, .6);
    }

    &:disabled {
      box-shadow: none;
    }
  }

  button {
    display: inline-block;
    width: 100%;
    color: #fff;
    background-color: $color-destination;
    border-radius: 2px;
    font-size: 1.4rem;
    font-family: inherit;
    letter-spacing: .02em;

    &:hover {
      background: darken($color-destination, 8);
      cursor: pointer;
    }
  }
}