.XIcon {
  position: relative;
  margin-left: auto;
  padding-right: 30px;
  z-index: 3;
  width: 20px;
  height: auto;
}

.icon {
  width: 20px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  span:nth-child(2) {
    transform: rotate(45deg);
  }
  span:nth-child(3) {
    transform: rotate(-45deg);
  }
  span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

.Destination {
  display: inline-block;
  height: 5px;
  .icon {
    width: 15px;
  }
  span {
    background-color: #53CBA7;
    height: 1.5px;
  }
}
